:root {
  --vdPageBgColor: #fffffff;
  --vdTextColor: #000000;
  --vdBackgroundColor: #e0e0e0;
  --vdBgColor: var(--el-bg-color);
  --vdBorderColor: var(--el-input-border-color);
  --vdDialogBgColor: var(--el-dialog-bg-color);
}

html.dark {
  --vdPageBgColor: #0a0a0a;
  --vdTextColor: #ffffff;
  --vdBackgroundColor: #303030;
}
